<!--jumbotron-->

<img src="assets/img/banner2.png" class="img-fluid w-100" alt="Escolha o livro. Leve para casa. Não custa nada.">

<!-- BUSCA DE LIVROS

    <div id="find">
      <img src="assets/img/find.png" alt="busca">
      <form id="form">
        <input type="text" class="form-control" id="inputSearch" placeholder="">
        <button type="submit" class="btn btn-primary mb-2 submit_btn">OK</button>
      </form>
    </div>
-->

<!-- CATEGORIAS

<div class="w-100" style="height: 1.5rem;"></div>

<div class="container text-center button_container">
  <div id="navbtn">

    <ul class="nav justify-content-center" id="buttons">
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_1"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_2"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_3"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_4"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_5"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_6"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_7"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_8"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_9"></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="btn_10"></button>
      </li>
    </ul>
  </div>
</div>
-->

<!--book covers-->

<div class="container">

  <h1 class="text-center display-4">Livros mais novos</h1>
  <div class="row justify-content-center book-covers">

    <figure class="figure" *ngFor="let book of top15NewBooks">
      <div>
          <a href="/livros/{{book.slug}}" title="Detalhes do Livro">
            <img src="{{book.imageUrl}}" class="figure-img img-fluid rounded" alt="{{book.title}}">
          </a>
      </div>
      <figcaption class="figure-caption text-center">{{book.title}}</figcaption>
    </figure>

  </div>

  <!-- autor em destaque 
  Imagem fixada para posterior integração dinamica. -->
  <h1 class="text-center display-4">Autor em destaque</h1>
  <div class="row justify-content-center book-covers">

    <figure class="figure">
      <div>
        <img src="http://dev.sharebook.com.br/Images/Books/will.jpg" class="img-thumbnail" alt="{{book.title}}">
      </div>
      <figcaption class="figure-caption text-center">Nome do Autor</figcaption>
    </figure>
    <div class="col">
      <p class="text-justify"><b>Sobre</b><br/>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker 
        including versions of Lorem Ipsum.
      </p>
  <div class="row">
     <div class="col-md-3"> 
     <figure class="figure">
        <div>
          <img src="http://sharebook.com.br/Images/Books/como-programar-com-aspnet-e-c.jpg" class="figure-img img-fluid rounded" alt="{{book.title}}">
        </div>
        <figcaption class="figure-caption text-center">Livro disponivel</figcaption>
      </figure>
    </div>
      <div class="col-md-8" >
        <b>TITULO DO LIVRO</b>
          <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged.
        </p>
        <button type="button" class="btn btn-primary">Eu quero esse livro!</button>
        </div>
    </div>
  </div>
  </div>

  <h1 class="text-center display-4">Livros em destaque</h1>
  <div class="row justify-content-center book-covers">

    <figure class="figure" *ngFor="let book of random15NewBooks">
      <div>
          <a href="/livros/{{book.slug}}" title="Detalhes do Livro">
            <img src="{{book.imageUrl}}" class="figure-img img-fluid rounded" alt="{{book.title}}">
          </a>
      </div>
      <figcaption class="figure-caption text-center">{{book.title}}</figcaption>
    </figure>

  </div>

  <h1 class="text-center display-4">Novidades da Fanpage</h1>
  <div class="taggbox-container" style="width:90%;height:100%;overflow: auto;">
    <div id="curator-feed"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
  </div>  
  
  <!--carousel

  <div class="container-fluid container-carousel">
    <div class="row justify-content-center">
      <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/bannerprop.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/bannerprop.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/bannerprop.png" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <button id="btn-previous">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <button id="btn-next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  -->


  <!--how it works

  <div class="container-fluid how-it-works">
    <div class="row justify-content-center" id="how-it-works">
      <div class="text-center">
        <img class="img-fluid background-mobile" src="assets/img/fundoazul-mobile.png" alt="como funciona">
      </div>
    </div>
  </div>
  <div class="text-center full-background">
    <img class="img-fluid full-background" src="assets/img/fundoazul-laptop.png" alt="">
  </div>
  <p id="how" class="text-center">Funciona como uma rede solidária onde pessoas doam livros e outros ganham</p>
-->


  <!--benefits

  <div class="container container-benefits">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <img src="assets/img/Vantagens_title.png" alt="Sessão vantagens">
        <figure class="figure">
          <img src="assets/img/person_book.png" class="figure-img img-fluid rounded" alt="Personagem mascote">
        </figure>
      </div>
    </div>
    <div class="row justify-content-center">
      <figure class="figure">
        <img src="assets/img/Baixe o aplicativo App Store.png" class="figure-img img-fluid rounded" alt="Baixe na App Store">
      </figure>
      <figure class="figure">
        <img src="assets/img/Escolha o livro Mais de 1500 a sua disposicao.png" class="figure-img img-fluid rounded" alt="Baixe na App Store">
      </figure>
      <figure class="figure">
        <img src="assets/img/Marque a localizacao Dica_ Escolha o mais proximo de você.png" class="figure-img img-fluid rounded"
          alt="Baixe na App Store">
      </figure>
      <figure class="figure">
        <img src="assets/img/Pegue o livro Vá no encontro do doador e boa leitura.png" class="figure-img img-fluid rounded" alt="Baixe na App Store">
      </figure>
    </div>
    <p id="do-good">Fazer o bem sem olhar a quem</p>
  </div>
  

  <div class="container-fluid text-center container-benefits-full-background">
    <img src="assets/img/vantagens.png" alt="Sessão vantagens">
  </div>
  -->

  <p>&nbsp;</p>

  <!--banner-->

  <div class="container">
    <div class="d-block">
      <a routerLink="/livros/doar">
        <img class="img-fluid" src="assets/img/banner_livros.png" alt="Seja um doador de livros.">
      </a>
    </div>
  </div>
